{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="text-center mb-5 mt-3">
            <h2>Book an appointment:</h2>
        </div>
        <div class="col-md-6 col-12" id="datepicker-left">
            <div class="mx-auto datepicker-center">
                <div id="datepicker-enable-right">
                </div>
                <div class="text-center datepicker-cover" id="datepicker-cover-left">
                    <h2 class="pt-5">Please select a service first</h2>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <form method="post" id="booking_form">
                {% csrf_token %}
                {{ appointment_form | crispy }}
                <div class="my-4">
                    <button type="submit" class="btn btn-secondary btn-card btn-lg">Book</button>
                </div>
            </form>
        </div>
        <div class="col-md-6 col-12" id="datepicker-right">
            <div class="mx-auto mt-lg-4 mt-5 datepicker-center">
                <div id="datepicker-enable-left">
                </div>
                <div class="text-center datepicker-cover" id="datepicker-cover-right">
                    <h2 class="pt-5">Please select a service first</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}">
<script>
    var planning = JSON.parse("{{ planning|escapejs }}")
    var planningJS = planning[0]
    var appointments = JSON.parse("{{ appointments|escapejs }}")
</script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="{% static 'js/libraries/jquery.datetimepicker.full.min.js' %}"></script>
<script src="{% static 'js/datepicker.js' %}"></script>
{%endblock%}