{% extends "base.html" %}

{% block content %}
<div class="container mt-md-5 my-2">
    <div class="row">
        <div class="col-md-10 mt-3 offset-md-2">
            <h2 class="mt-3">Thank you for booking an appointment!</h2>
            {% if user.is_authenticated %}
            <h2 class="my-5">Go to your <a href="{% url 'dashboard' %}">account dashboard</a>
                to
                manage your
                booking.</h2>
            {% else %}
            <h2 class="my-5">Make an <a href="{% url 'account_signup' %}">account</a> or <a
                    href="{% url 'account_login' %}">login</a>
                to
                manage your
                booking.</h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}